body{
    background-image: url("../images/chinesepainting.jpg");
    background-size: 1500px auto;
    font-family: 'Merienda One', cursive !important;
}
#header {
    margin-top: 50px;
}
#main-body{
    height: 300px;
    
}
#main {
    background-color: ivory;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 100px;
}

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
  }
  #f1_container:active #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
  }
  #f1_container img{
      width: 200px;
      height: auto;
  }
  
  #rock{
      width: 100px;
      height: 100px;
      color: white;
      background-color: gray;
      background-image: url("../images/rock.png");
      background-size:cover;
  }
  #paper{
    width: 100px;
    height: 100px;
    background-color: gray;
    background-image: url("../images/paper.png");
    background-size:cover;
}
#scissors{
    background-color: gray;
    color: white;
    width: 100px;
    height: 100px;
    background-image: url("../images/scissors.png");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center; 
}
#chat-box {
    background-color: white;
    width: 400px;
    height: 100px;
    border: 2px solid black;
}
#results, #player1-choice, #player2-choice {
    margin-top: 100px;
}